<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Заметки</title>
</head>
<body>
<div id="app">
    <div class="form">
        <form class="review-form" @submit.prevent="onSubmit">
            <p>
                <label for="name">Название:</label>
                <input  name="name" id="name" v-model="name" placeholder="name" value="Название">
            </p>
            <p>
                <label for="review">Заметка:</label>
                <textarea  id="review"  v-model="review" value="Заметка"></textarea>
            </p>
            <p>
                <label for="review">Заметка:</label>
                <textarea  id="review1"  v-model="review1" value="Заметка1"></textarea>
            </p>
            <p>
                <label for="review">Заметка:</label>
                <textarea  id="review2"  v-model="review2" value="Заметка2"></textarea>
            </p>
            <p>
                <input  type="submit" value="Сохранить">
            </p>
        </form>
    </div>
    <div class="b">
        <div class="product">
            <div class="product-info">
                <div>
                    <h2>Чем хочешь поделиться?</h2>
                    <ul>
                        <li v-for="pop in popis1">
                            <p>Название: {{ pop.name }}</p>
                            <p>Заметка: {{ pop.review }}</p>
                            <p>Заметка: {{ pop.review1 }}</p>
                            <p>Заметка: {{ pop.review2 }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bll">
        <div class="product-info">
            <div>
                <ul>
                    <li v-for="pop in popis2">
                        <p>Название: {{ pop.name }}</p>
                        <p>Заметка: {{ pop.review }}</p>
                        <p>Заметка: {{ pop.review1 }}</p>
                        <p>Заметка: {{ pop.review2 }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bl">
        <div class="product-info">
            <div>
                <ul>
                    <li v-for="pop in popis3">
                        <p>Название: {{ pop.name }}</p>
                        <p>Заметка: {{ pop.review }}</p>
                        <p>Заметка: {{ pop.review1 }}</p>
                        <p>Заметка: {{ pop.review2 }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div >
</body>
</html>
